Descargas
Documentos
Escritorio
Imágenes
Música
Plantillas
Público
Vídeos
.xsession-errors.old
.Xauthority
.npm
.mpdconf
.cache
.mozilla
.pki
.icons
.fehbg
.cover
.bash_logout
.pylint.d
.gnupg
.local
.gnome
.lesshst
.xsesson-errors
.mpd
.dmrc

