# env
export XDG_RUNTIME_DIR="/run/user/$UID"
export DBUS_SESSION_BUS_ADDRESS="unix:path=${XDG_RUNTIME_DIR}/bus"

sh $HOME/.monitor-autodetect.sh &
# Nitrogen
nitrogen --restore &
# Composer
picom &
# Keyboard Layout
setxkbmap us &
# Automount Devices
udiskie -t &


